@font-face {
  font-family: "Rubik-One-Mono";
  src: url("../Fonts/RubikMonoOne-Regular.ttf");
}
input:focus {
  outline: none;
}

body {
  background-color: #131620;
  text-align: center;
  font-family: "Rubik-One-Mono";
  font-size: 50px;
  color: #ffffff;
}
#Logo {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

#LogoAndTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

h1 {
  text-shadow: 6px 2px 3px #1db954;
}

button {
  background-color: #ffffff;
  width: 300px;
  height: 70px;
  font-family: "Rubik-One-Mono";
  font-size: 25px;
  color: #1db954;
  border-radius: 5px;
  border: none;
  margin-top: 50px;
}
button:hover {
  border: 3px solid #1db954;
  cursor: pointer;
}

#username,
#room {
  background-color: #8ebbc1;
  color: #ffffff;
  font-family: "Rubik-One-Mono";
  font-size: 25px;
  width: 300px;
  height: 40px;
  border-radius: 5px;
  border: none;
  caret-color: #1db954;
}
#username:focus,
#room:focus {
  border: 4px solid #ffffff;
}

::placeholder {
  color: #ffffff;
  opacity: 0.5;
}
